extends layout

block content
  h1= title
  p Based upon the weight of the plane being  #{plane} at an altitude of #{altitude} ft.
  p with a temperature of #{temperature}° at flaps setting #{setting}
  p the #{attribute} value is #{answer}